<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3>{{ 'footer.title1'|trans  }}</h3>
                    <ul>
                        <li> <a href="#">{{ 'footer.d1'|trans  }}</a> </li>
                        <li> <a href="#">{{ 'footer.d2'|trans  }}</a> </li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3>{{ 'footer.title2'|trans  }}</h3>
                    <ul>
                        <li> <a href="#">{{ 'footer.d3'|trans  }} </a> </li>
                        <li> <a href="#">{{ 'footer.d4'|trans  }}</a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3>{{ 'footer.title3'|trans  }}</h3>
                    <ul>
                        <li> <a href="#">{{ 'footer.d5'|trans  }} </a> </li>
                        <li> <a href="#">{{ 'footer.d6'|trans  }}</a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3>{{ 'footer.title4'|trans  }}</h3>
                    <ul>
                        <li> <a href="#">{{ 'footer.d7'|trans  }}</a> </li>
                        <li> <a href="#">{{ 'footer.d8'|trans  }}</a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3>{{ 'footer.title5'|trans  }}</h3>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">  </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">  </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">  </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">  </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">  </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left">{{ 'footer.copyright'|trans  }}</p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                	<li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>



