  <div class="jumbotron">
      <div class="container">
        <h1> {{ 'head.title'|trans }} </h1>
        <p> {{ 'head.msg'|trans }} </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button"> {{ 'head.button'|trans }}&raquo;</a></p>
      </div>
      </div>  
  <div class="text-center mt25">
    <ol class="breadcrumb cl">
    <li class="active"><a href="#">{{ 'breadcrumb.home'|trans }}</a></li>
    <li><a href="#">{{ 'breadcrumb.services'|trans }}</a></li>
    <li><a href="#">{{ 'breadcrumb.contact'|trans }}</a></li>
      </ol>
  </div>