   <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel panel-primary">
          <div class="panel-heading">
          <p class="panel-title"><h3>{{ 'panel.1.title'|trans }}</h3></p>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">{{ 'panel.1.list'|trans }}</h4>
          <p class="list-group-item-text">{{ 'panel.1.details'|trans }}</p>
          </a>
          </div>
       
        </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel panel-primary">
          <div class="panel-heading">
          <p class="panel-title"><h3>{{ 'panel.2.title'|trans }}</h3></p>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">{{ 'panel.2.list'|trans }}</h4>
          <p class="list-group-item-text">{{ 'panel.2.details'|trans }}</p>
          </a>
          </div>
         
            
        </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel panel-primary">
          <div class="panel-heading">
          <p class="panel-title"><h3>{{ 'panel.3.title'|trans }}</h3></p>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">{{ 'panel.3.list'|trans }}</h4>
          <p class="list-group-item-text">{{ 'panel.3.details'|trans }}</p>
          </a>
          </div>
      	    
        </div>
        </div>
      </div>
      </div> <!-- /container -->